@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'),
    url(../fonts/Pretendard-Black.woff2) format('woff2'),
    url(../fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'),
    url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'),
    url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url(../fonts/Pretendard-Bold.woff2) format('woff2'),
    url(../fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url(../fonts/Pretendard-SemiBold.woff2) format('woff2'),
    url(../fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url(../fonts/Pretendard-Medium.woff2) format('woff2'),
    url(../fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'),
    url(../fonts/Pretendard-Regular.woff2) format('woff2'),
    url(../fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'),
    url(../fonts/Pretendard-Light.woff2) format('woff2'),
    url(../fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'),
    url(../fonts/Pretendard-ExtraLight.woff2) format('woff2'),
    url(../fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'),
    url(../fonts/Pretendard-Thin.woff2) format('woff2'),
    url(../fonts/Pretendard-Thin.woff) format('woff');
}

:root {
  --color-main: #393CED;
  --color-sub: #D9E9FF;
  --color-white-hold: #ffffff;
  --color-BG: #F7F7FB;
  --color-white: #ffffff;
  --color-white80: rgba(5, 5, 5, 0.8);
  --color-white60: rgba(255, 255, 255, 0.6);
  --color-white40: rgba(255, 255, 255, 0.4);
  --color-white10: rgba(255, 255, 255, 0.1);
  --color-white05: rgba(255, 255, 255, 0.05);
  --color-white00: rgba(255, 255, 255, 0.0);
  --color-gray: #C5C5D6;
  --color-gray2: #E4E4F6;
  --color-red: # --color-font: #424242;
  --color-font-gray: #929199;
  --color-border: #EAEAF4;
  --color-shadow: #E7E7F9;
  --color-shadow-inner: #F1F1FD;
  --gap: 20px;
  --duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  letter-spacing: -0.025em;
  font-family: 'Pretendard';
  line-height: 1;
}

html,
body {
  color: #ffffff;
  font-size: 10px;
  line-height: 1;
  letter-spacing: -0.025em;
}

.wrap {
  min-height: 100vh;
  font-size: 1.6rem;
}

ul,
ol,
li {
  list-style: none;
}

img,
video {
  display: block;
  object-fit: contain;
}

/* ********** */

.flex {
  display: flex;
  gap: var(--gap);
}

.con {
  width: calc(100% - 100px);
  margin: 0 auto;
}

.fill {
  height: 100%;
}

.wrap {
  z-index: 2;
}

.fixedBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(135deg, #000F58, #46144D);
  z-index: 1;
}

.fixedBG h1 {
  position: absolute;
  transform: translateX(-50%);
  top: 50px;
  left: 50%;
}

.fixedBG .pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fixedBG .pattern img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section .fp-tableCell>div.flex {
  height: calc(100% - 178px);
  margin-top: 178px;
  justify-content: space-between;
  flex-direction: column;
}

.section01 .fp-tableCell>div.flex {
  align-items: center;
}

.section01 .fp-tableCell>div.flex h2 {
  font-size: 6.4rem;
  animation-name: spacing;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}

@keyframes spacing {
  0% {
    opacity: 0;
    transform: scale(1.1);
    letter-spacing: 0.1em;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    letter-spacing: -0.025em;
  }
}

.section01 .fp-tableCell>div.flex .img-box {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 600px;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section01 .fp-tableCell>div.flex .img-box img {
  position: absolute;
}

.section01 .fp-tableCell>div.flex .img-box .human {
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 600px;
}

.section01 .fp-tableCell>div.flex .img-box .left {
  top: 50px;
  left: 0;
  height: 180px;
  animation-name: leftMove;
  animation-duration: 1s;
  animation-iteration-count: 1;

}

.section01 .fp-tableCell>div.flex .img-box .right {
  top: 180px;
  right: 0;
  height: 180px;
  animation-name: rightMove;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes leftMove {
  0% {
    transform: translateX(100px) scale(0.9);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes rightMove {
  0% {
    transform: translateX(-100px) scale(0.9);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

.section01.act .fp-tableCell>div.flex .img-box .left {
  left: -200px;
  opacity: 0;
  transition: 0.5s;
}

.section01.act .fp-tableCell>div.flex .img-box .human {
  transform: translateX(-50%) scale(1.5);
  filter: blur(40px);
  opacity: 0;
  transition: 1s;
}

.section01.act .fp-tableCell>div.flex .img-box .right {
  right: -200px;
  opacity: 0;
  transition: 0.5s;
}

.section .fp-tableCell>div.flex .title {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 76px;
  margin-bottom: 50px;
}

.section .fp-tableCell>div.flex .title img {
  opacity: 0;
  transition: 1s;
  transform: translateY(-50px);
}

.section02 .fp-tableCell>div.flex .fill ul {
  display: flex;
  flex-wrap: wrap;
}

.section02 .fp-tableCell>div.flex .fill ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateY(-100px);
  width: calc((100% - 20px) / 2);
  padding: 80px 300px;
  font-size: 5.4rem;
  font-weight: 300;
  transition: 1s;
  opacity: 0;

  &:nth-child(odd) {
    padding-right: 0;
  }

  &:nth-child(even) {
    padding-left: 0;
  }
}

.section02 .fp-tableCell>div.flex .fill ul li b {
  font-weight: 600;
  color: #3AFFB0;
}

.section.active .fp-tableCell>div.flex .title img {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateX(0px);

  &:last-child {
    transition-delay: 0.6s;
  }
}

.section02.active .fp-tableCell>div.flex .fill ul li {
  transform: translateY(0);
  transition-delay: 0.3s;
  opacity: 1;

  &:nth-child(2) {
    transition-delay: 0.4s;
  }

  &:nth-child(3) {
    transition-delay: 0.5s;
  }

  &:nth-child(4) {
    transition-delay: 0.6s;
  }
}

.section02.act .fp-tableCell>div.flex .fill ul li {
  filter: blur(40px);
  transform: translateY(500px);
}

.section03.active .fp-tableCell>div.flex .title img {
  transform: translateY(0px);
}

.section03.active .fp-tableCell>div.flex .fill ul.ani {
  position: relative;
  height: 100%;
}

.section03 .fp-tableCell>div.flex .fill ul.ani li {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  opacity: 0;
}

.section03.active .fp-tableCell>div.flex .fill ul.ani li {
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  --duration: 1s;

  &:nth-child(1) {
    animation-delay: var(--duration);
  }

  &:nth-child(2) {
    animation-delay: calc(var(--duration) * 2);
  }

  &:nth-child(3) {
    animation-delay: calc(var(--duration) * 3);
  }

  &:nth-child(4) {
    animation-delay: calc(var(--duration) * 4);
  }

  &:nth-child(5) {
    animation-delay: calc(var(--duration) * 5);
  }

  &:nth-child(6) {
    animation-delay: calc(var(--duration) * 6);
  }

  &:nth-child(7) {
    animation-delay: calc(var(--duration) * 7);
  }

  &:nth-child(8) {
    animation-delay: calc(var(--duration) * 8);
  }
}

.section03 .fp-tableCell>div.flex .fill {
  position: relative;
}

.section03 .fp-tableCell>div.flex .fill img {
  width: 220px;
  height: 220px;
}

.section03 .fp-tableCell>div.flex .fill p {
  margin-top: 12px;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
}

.section03 .fp-tableCell>div.flex .fill ul.list li span {
  display: block;
  text-align: center;
}

.section03 .fp-tableCell>div.flex .fill .list-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.section03 .fp-tableCell>div.flex .fill ul.list {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 0;
  width: 100%;
  padding-bottom: 100px;
  opacity: 0;
}

.section03 .fp-tableCell>div.flex .fill ul.list li img {
  width: 140px;
  height: 140px;
}

.section03 .fp-tableCell>div.flex .fill ul.list li p {
  font-size: 2.4rem;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
  }
}

.section03.active .fp-tableCell>div.flex .fill ul.list {
  animation-name: afterFade;
  animation-duration: 1s;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.section03.active .fp-tableCell>div.flex .fill ul.list li {
  opacity: 0.8;

  &:last-child {
    transform: scale(1.1);
    opacity: 1;
    color: #3AFFB0;

    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes afterFade {
  0% {
    gap: 0;
    opacity: 0;
  }

  100% {
    gap: 60px;
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}